<!DOCTYPE html>
<html>
<head>
	<title>Scala-NodeJS</title>
	<link rel="stylesheet" type="text/css" href="css/highlight.css">
</head>
<body>
	<div id="app">
	<%= body %>
	<div>

	<script id="team-content" type="application/json"><%= teams %></script>
	<script type="text/javascript">
		function init(){
			var elem = document.getElementById("app");
			var props = JSON.parse(document.getElementById("team-content").innerHTML);

			Router.attach(elem, props);
		}
	</script>
	<script async src="js/bundle.js" onload="init()" type="text/javascript"></script>
</body>
</html>